.exchenge_table {
    margin: 0 auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid white; 
    }

caption {
    caption-side: top;
    text-align: center;
    padding: 10px 0; 
    font-size: 16px;
}

th, td {
    font-size: 12px;
    padding: 9px 0;
    border: 1px solid white

  
}
.th__width {
 padding: 15px 90px;
 font-size:  16px;
   @media only  screen and (max-width: 800px) {
        padding: 11px 60px;

    }

    @media only  screen and (max-width: 580px) {
        padding: 11px 40px;

    }

    @media only  screen and (max-width: 430px) {
        padding: 11px 0;

    }
}



.converter__wrapper {
    display: flex;
}
.btn__arrows {
    padding: 0 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn__arrows:hover {
    cursor: pointer;
    background-color: greenyellow;
}