.popup__forEdit {
    width: 200px;
    height: 86px;
    border: 2px solid black;
    font-size: 16px;
}

.popup__forEdit-btn {
    padding: 5px;
}

.btn__save {
    background-color: green;
}

.btn__cancel {
    background-color: red;
}