.popup__forEdit {
    width: 200px;
    height: 56px;
    border: 2px solid greenyellow;
    font-size: 16px;
    margin: 0 auto;
}

.popup__forEdit-btn {
    margin: 0  3px;
}

.btn__save {
    background-color: green;
}

#newValue {
    width: 80%;
}

